{
  "reporter": [
    "lcov",
    "text"
  ],
  "include": [
    "server/**/*.js"
  ],
  "exclude": [
    "server/test/**/*.js"
  ],
  "require": [
    "esm"
  ],
  "extension": [
    ".js"
  ],
  "check-coverage": false,
  "cache": true,
  "sourceMap": true,
  "instrument": true,
  "report-dir": "./server-coverage"
}
