files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDpTCCAo0CFElinwdZAYtv5lBo56OgaQ/+Sm+EMA0GCSqGSIb3DQEBCwUAMIGO
MQswCQYDVQQGEwJORzEOMAwGA1UECAwFTGFnb3MxDjAMBgNVBAcMBUFnZWdlMSEw
HwYDVQQKDBhTeW9uIFN5c3RlbXMgTmlnZXJpYSBMdGQxFjAUBgNVBAMMDSoub3pp
bW9zLnNpdGUxJDAiBgkqhkiG9w0BCQEWFXRvdmlleWUub3ppQGdtYWlsLmNvbTAe
Fw0yMDA0MjAxNTE1MzJaFw0yMTA0MjAxNTE1MzJaMIGOMQswCQYDVQQGEwJORzEO
MAwGA1UECAwFTGFnb3MxDjAMBgNVBAcMBUFnZWdlMSEwHwYDVQQKDBhTeW9uIFN5
c3RlbXMgTmlnZXJpYSBMdGQxFjAUBgNVBAMMDSoub3ppbW9zLnNpdGUxJDAiBgkq
hkiG9w0BCQEWFXRvdmlleWUub3ppQGdtYWlsLmNvbTCCASIwDQYJKoZIhvcNAQEB
BQADggEPADCCAQoCggEBAMFQ0sO45hrSa7viJWu8NVWaMY2ag/GOuuVn3dR2uXfS
x5n76cvSTi/0oYyYBlTdBANuAW+E+2VKos3kA7DComTLVW2plqqR7huLhKdAKzmO
aSmJUqmv3fN+jHp3joWXO3dKx8vYQ+/e3bWHf0U2oEeV0pJjE7L1tA5eFucZCOsh
NbGd1rUR0ya6fh2GHG58XZ77ogGa3+8p8eqMrE40MyqG8j2OvcQXlzs0MDNyJiC7
P9HXVuWtLB79C/kXZ+lSYf1YCC1jr/G2RPGG2fX0tdfXopSo4STP7JoJmRhMq1Bk
kGaLK4S8QmbEZJddc4xBkLQkqSIk1GllWV8IXcWHnksCAwEAATANBgkqhkiG9w0B
AQsFAAOCAQEAmFgsQQfPOUSmSxN4KnS4hDjRy9en0ivB2TwtFsqJl9gROA4tjdoh
tQ7lC8+9yDepPwOl116ov/gi0omsuU/sp74x3ayxFEk5GdokVNaC91VtG0h3jTbk
r19/TL4c8WXUYIM0ff3697lq4xLElV6nDUPLjvq/WblplvpAT9Cj8mrmcBvWYwhM
NpUQoCkdqHW9/v9CIte1sgETvmvn3zGgBie+37GuIFOzJl2IX84x2wZHVs3/0bHf
CQvKiYbzn/xyoSwqpbCWGSxyZrR1JDsNE5/T7wlGHN1Zr7RDBbFw6bPUnsLGxSpG
Dy+iiryT/3RJPH/Z5bidWycBYAN97pmaDg==
      -----END CERTIFICATE-----
      