caption.flexbox-cart{
    .info{
        width: 40%;
        p {
            &:first-of-type{font-size: 1.2rem}
            &:last-of-type{font-size: 1.7rem}
        }
    }
    .flexbox{
        padding-left: 0;
        padding-right: 0;
    }
}
p.cart-notification {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px
}
.btn.btn-cart{
    margin-bottom: unset;
    min-width: unset;
    padding: 4px;
    margin: 0px 4px;
    font-size: 0.8rem;
    }
tr.slim{
    td{
        padding: 5px;
        input[type=number]{
            height: unset;
            margin: 0;
            width: 40px;
            text-align: center
        }
    }
}
