html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.ReactTable.clickable{
  .rt-tbody{
    .rt-tr-group{
      cursor: pointer
    }
  }
}
body {
  text-align: center;
  font-family: Roboto, Monserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.shrink.heading {
  a{
    color: maroon;
    font-family: Courgette, Pacifico, Satisfy, Montserrat, cursive, 'sans-serif'
  }
}
.pagination li a {
  cursor: pointer
}
.absolute {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  main.min-height{
    min-height: calc(100vh - 94px)
  }
  .greeting{
    font-family:  Satisfy, Montserrat, cursive, 'sans-serif'
    
  }
  .rotate {
    transform: rotate(90deg)
  }
  
  .fluid-img {
    width: 100%;
    height: auto;
    min-height: 200px;
    object-fit: cover;
  }
a {
    text-decoration: none;
    padding: 0.5em;
    color: #2f80ed;
  }
  .text-blue {
    color: #2f80ed;
  }
  
  .bg-blue {
    border-radius: 5px;
    background-color: #2f80ed;
  }
  
  .flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
  }
  .input-field{
    width: 300px;
    margin-top: 0px;
    input{
      margin: 0;
      margin-left: 2rem;
      border-radius: 5px;
    background-color: white;
        padding-left: 20px !important
    }
    .prefix{
      left: 0;
      color: black
    }
  }
  .title {
    margin-top: 10px;
  }
.wrap {
    flex-wrap: wrap;
  }
  .text_left{
      text-align: left
  }
  .text_right{
    text-align: right
}
.mr-auto{
    margin-right: auto
}
.mx-auto{
    margin-right: auto;
    margin-left: auto
}
.mx_1{
  margin-right: 1px;
    margin-left: 1px
}
  .clr {
    border: none;
    background-color: transparent;
    height: 1.6rem;
    margin: 0;
  }
  
  button.title-button.icon {
    font-size: 1.2rem;
    margin: 0.6em;
    font-weight: 0;
    vertical-align: middle;
    align-self: flex-start;
  }
  .order-meal-modal{
    .flexbox{
      h5{
        margin: 20px auto
      }
      span{
        margin: 10px;
        &:last-child{
          margin-right: auto;
          font-size: 2rem
        }
      }
     
    }
  }
  .shrink {
    min-width: 1rem;
    flex: 0 1 auto;
    overflow-x: hidden;
    text-overflow: clip;
    white-space: nowrap;
  }
  .card{
    background: linear-gradient(180deg, rgba(243, 141, 21, 0.91) 0%, rgba(149, 108, 61, 0) 100%);
    margin-left: 10px;
    margin-right: 10px;
    .descrip{
      max-height: 20px;
      padding-left: 5px;
      padding-right: 5px;
      &:hover{
        max-height: unset;
      }
    }
    .long_string:hover{
      overflow: unset;
      white-space: unset;
    }
    .card-btn{
      position: absolute;
      background: red;
      color: white;
      top: -10px;
      right: -10px;
      border-radius: 50%;
      &:focus{
      background: red;      
      }
    }
    .card-btn.card-checkbox{
      opacity: 100;
      left: 98%;
      top: -5px
    }
    .pad-btn{
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 5px
    }
  
  }
  
  .btn {
    background-color: #2f80ed;
    border-radius: 5px;
    min-width: 20px;
    color: white;
    height: unset;
    line-height: 1em;
    border-width: 0;
    cursor: pointer;
    text-align: center;
    &:visited, &:hover, &:visited, &:focus{
      background-color: #2f80ed !important
    }
  }
  
    
    .progression{
      position: absolute; 
        bottom: 57%; 
        left: 5%;
        width: 90%;
        height: 10px;
       
    }
  
  .overlay-container{
  /* The overlay effect - lays on top of the container and over the image */
  position: relative; 
    .overlay {
      position: absolute; 
      bottom: 5px; 
      background: rgba(0, 0, 0, 0.5); /* Black see-through */
      color: #f1f1f1; 
      width: 100%;
      opacity:0;
      color: white;
      font-size: 15px;
      padding: 5px;
      text-align: center;
      opacity: 1;
      .flexbox{
        padding-left: 5px;
        padding-right: 5px;
        .long_string{
          width: 60%;
        }
      }
    }
    .overlay.full{
      display: flex;
      align-items: center;
      bottom: unset; 
      transition: .5s ease;
      min-height: 200px;      
      opacity: 0;
      &:hover{
        opacity: 1;
      }
    }
}
  .btn-disabled {
    border-color: red;
    border-width: 2px;
  }
  .title-button {
    padding: 0.2em 0.5em;
    margin: 0.6em 0;
    min-width: 2.5em;
  }
  .toaster{
    background-color: #CD9655;
    color: white
  }
  .form-box {
    margin: 10px auto;
  }
  .form-box2 {
    width: 100%;
    margin: 10px 0;
  }
  
  .form-box.flex {
    min-width: 50%;
    flex: 0 1 auto;
  }
  
  .hide {
    display: none
  }
  
  .stacked-text {
    margin-top: 20px;
  }
  .stacked-text>* {
    margin: 0;
    color: lightblue;
  }
  .form3{
    &>* {
  display: block;
  width: 100%;
  border-width: 0 0 1px 0;
  border-color: #aaa;
  margin-top: 20px;
}

input,
p {
  text-align: left;
  height: 1rem
}
input, textarea{
  &:focus{
  border-color: #2f80ed;
  outline: none    
  }
}
textarea{
  min-height: 3rem;
  height: fit-content;  
}
&>div {
  text-align: left;
  padding-right: auto;
}
}
.form2>*{
  display: inline-block
}
.modal {
    border-radius: 10px;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fafafa60;
    
  }
  /* Modal Content/Box */
  
  .modal-content {
    position: absolute;
    overflow: auto;    
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    height: max-content;
    max-height: 70%;
    border: 1px solid rgb(204, 204, 204);
    margin: auto;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    outline: none;
    padding: 10px 20px;
    .title{
      margin-bottom: 10px
    }
    input[type=number], input[type=text],textarea{
      &:focus{
      border-color: #2f80ed;
      outline: none    
      }
    }
  }
  .form3-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    // justify-items: center;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    justify-items: center;
  }
  .long_string{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .long_string2{
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: clip;
      }
      .row_button{
        max-width: 50%;
        font-size: 0.8rem
      }
  @media screen and (min-width: 736px) {
    html,
    body {
      margin: 0 auto;
      padding: 0;
    }
    .modal-content {
      padding: 10px 20px;
      width: 40%;      
    }
    .form-box {
      margin: 40px 10px;
    }
    .form-box2 {
      width: 80%;
      margin: 40px auto;
    }
    .shrink {
      min-width: unset;
    }
    .gallery {
      grid-template-columns: repeat(4, 1fr);
      .card{
        width: 250px
      }
    }
    .form3-grid {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content;      
    }
    .overlay-container{
      grid-column: 2;
      grid-row: 1/3;
    }
  }
  
  @media screen and (min-width: 600px)and (max-width: 736px){
    .gallery {
      grid-template-columns: repeat(3, 1fr);
    }
    .container3 {
      max-width: 80%;
    }
    .modal-content {
      width: 60%;      
    }
    .order_span.shrink{
      visibility: visible !important;
    }
  }
  
  @media screen and (min-width: 450px) and (max-width: 600px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .order_span.shrink{
    visibility: hidden;
  }
  .card {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 200px;
     /* On mouse-over, add a deeper shadow */
  
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .card-input {
    width: 40px;
    text-align: center;
  }
  }
  
  .card.card-form {
    width: 200px;
    margin: 0 5px;
  }
