html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #fafafa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  border-bottom: solid 1px #b8abab;
  background-color: white;
}

.container {
  max-width: 736px;
  min-width: 100px;
  margin: 0;
}

.nowrap {
  white-space: nowrap;
  flex-wrap: nowrap;
}

a {
  text-decoration: none;
  padding: 0.5em;
}

.text-blue {
  color: #2f80ed;
}
.bg-blue {
  border-radius: 5px;
  background-color: #2f80ed;
}
.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nowrap {
  white-space: nowrap;
  flex-wrap: nowrap;
}

.clr {
  border: none;
  background-color: transparent;
  height: 1.6rem;
  margin: 0;
}

a>.svg-inline--fa {
  font-size: 1.5rem;
  margin: 0.6em;
  font-weight: 0;
  vertical-align: middle;
}

button>.svg-inline--fa {
  font-size: 1rem;
  margin: 0.6em;
  font-weight: 0;
  vertical-align: middle;
}

.shrink {
  min-width: 1rem;
  flex: 0 1 auto;
  overflow-x: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

button,
.btn {
  background-color: #2f80ed;
  border-radius: 10px;
  padding: 0.5em 0;
  min-width: 20px;
  color: #aaa;
  font-weight: bold;
  border-width: 0;
  cursor: pointer;
}

.title {
  background-color: #f2984a;
}

.flexbox p {
  margin-right: 10px;
}

.title-element {
  background-color: #f2b94a;
  margin: 1em 0;
  border-radius: 10px;
  line-height: 2;
}

.title-button {
  padding: 0;
  margin: 1em 0;
  min-width: 6em;
}

.title-element>* {
  margin: 0;
  margin-left: 10px;
  font-weight: lighter;
}


.form-box {
  width: 100%;
  margin: 10px 0;
}

.hide {
  display: none
}

.stacked-text {
  margin-top: 20px;
}

.summary {
  text-align: left;
}

.summary * {
  margin: 0;
  padding: 0;
}

.summary_info {
  display: flex;
  justify-content: space-evenly;
}

.stacked-text>* {
  margin: 0;
}

form>* {
  display: block;
  width: 100%;
  font-size: 20px;
  border-width: 0 0 1px 0;
  border-color: #000;
  margin-top: 20px;
  text-align: left;
}

form>label {
  font-size: 16px;
  text-align: left;
  margin: 0;
}

#meal_image {
  max-width: 320px;
}

.fluid-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #2f80ed;
  margin-left: 10px;
}

.welcome {
  min-height: calc(100vh / 3);
  background: #fafafa url(../assets/Food.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-text {
  padding: 0 50px;
  color: #f2994a;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.modal-trigger {
  cursor: pointer;
}

.modal {
  border-radius: 10px;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  margin: 20px auto;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fafafa60;
}

/* Modal Content/Box */

.modal-content {
  background-color: #f2b94a;
  border-radius: 10px;
  padding: 10px 0;
  border: 1px solid #888;
}

@media screen and (min-width: 736px) {
  html,
  body {
    margin: 0 auto;
    padding: 0;
  }
  .modal-content {
    padding: 10px 20px;
  }
  .form-box {
    width: 80%;
    margin: 40px auto;
  }
  .container {
    margin: 0 auto;
  }
  .shrink {
    min-width: unset;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #2f80ed;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  width: 150px;
  top: 80%;
  left: 50%;
  margin-left: -75px;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent  #2f80ed transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}