html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background: #fafafa;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 50% 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading {
  color: maroon
}

.container {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  background-color: #fafafa;
}

.container2 {
  box-sizing: border-box;
  max-width: 736px;
  height: 100vh;
  margin: 0;
  margin-top: -20px;
  margin-bottom: -20px;
  padding-left: 10%;
  padding-right: 20%;
  background-color: #fafafa;
  background-attachment: scroll;
  background-attachment: scroll;
}

.absolute {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

a {
  text-decoration: none;
  padding: 0.5em;
  color: #2f80ed;
}

.text-blue {
  color: #2f80ed;
}

.bg-blue {
  border-radius: 5px;
  background-color: #2f80ed;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}

.flexbox>* {
  margin-right: 10px;
}

.title {
  margin-top: 20px;
}

.title-element>.flexbox {
  max-width: 80%;
}

.title-element>.flexbox>*:first-child {
  justify-items: flex-start;
  margin-right: 20px;
}

.wrap {
  flex-wrap: wrap;
}

.clr {
  border: none;
  background-color: transparent;
  height: 1.6rem;
  margin: 0;
}

a>.svg-inline--fa {
  font-size: 1.5rem;
  margin: 0.6em;
  font-weight: 0;
  vertical-align: middle;
}

button>.svg-inline--fa {
  font-size: 1rem;
  margin: 0.6em;
  font-weight: 0;
  vertical-align: middle;
}

.shrink {
  min-width: 1rem;
  flex: 0 1 auto;
  overflow-x: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

button,
.btn {
  background-color: #2f80ed;
  border-radius: 10px;
  padding: 0.5em 0;
  min-width: 20px;
  color: #aaa;
  font-weight: bold;
  border-width: 0;
  cursor: pointer;
  text-align: center;
}

.title-element {
  border-radius: 10px;
  line-height: 2;
}

.title-button {
  padding: 0;
  margin: 1em 0;
  min-width: 6em;
}

.title-element>* {
  margin: 0;
  font-weight: lighter;
}

.form-box {
  margin: 10px auto;
}

.form-box.flex {
  min-width: 50%;
  flex: 0 1 auto;
}

.hide {
  display: none
}

.stacked-text {
  margin-top: 20px;
}

.summary {
  margin: 40px 0;
  text-align: left;
}

.summary * {
  margin-left: 20px;
  padding: 0;
}

.stacked-text>* {
  margin: 0;
  color: lightblue;
}

.form>* {
  display: block;
  width: 100%;
  font-size: 20px;
  border-width: 0 0 1px 0;
  border-color: #000;
  margin-top: 20px;
}
.form2>*{
  display: inline-block
}

.form>input,
.form>p {
  text-align: left;
  background-color: #fafafa
}

.form>label {
  font-size: 16px;
  text-align: left;
  margin: 0;
}

.form>div {
  text-align: left;
  padding-right: auto;
}
.table{
  width: 100%;
}
#meal_image {
  width: 60%;
  margin: 10px auto;
}

.rotate {
  transform: rotate(90deg)
}

.fluid-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.welcome {
  box-sizing: border-box;
  min-height: 6em;
  margin-top: 2em;
  margin-bottom: 3em;
}

.welcome-text {
  padding: 0 50px;
  font-weight: 900;
}

.modal-trigger {
  cursor: pointer;
}

.shrink.modal-trigger,
h3.modal-trigger,p.modal-trigger  {
  color: #2f80ed;
}

.modal {
  border-radius: 10px;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fafafa60;
}

/* Modal Content/Box */

.modal-content {
  width: 70%;
  margin: 20px auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px 0;
  border: 1px solid #888;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  justify-items: center;
}

@media screen and (min-width: 736px) {
  html,
  body {
    margin: 0 auto;
    padding: 0;
  }
  .modal-content {
    padding: 10px 20px;
  }
  .form-box {
    margin: 40px 10px;
  }
  .container {
    margin: 0;
    padding: 0 20px;
  }
  .container2 {
    max-width: 50% !important;
    padding-left: 2%;
    padding-right: 4%;
    margin-left: 0;
  }
  .shrink {
    min-width: unset;
  }
}

@media screen and (min-width: 600px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .container2 {
    max-width: 70%;
  }
}

@media screen and (min-width: 450px) and (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card.card-form {
  width: 200px;
  margin: 0 5px;
}

.card-input {
  width: 40px;
  text-align: center;
}

/* On mouse-over, add a deeper shadow */

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}