html,
body {
  padding: 0;
  margin: 0;
  max-width: 500px;
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nowrap {
  white-space: nowrap;
  flex-wrap: nowrap;
}

a {
  text-decoration: none;
  color: #000 !important;
  padding: 0.5em;
}
.blue{
  border-radius: 5px;
  background-color: #2f80ed;
}
.flexbox, .flexbox2 {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flexbox2{
  justify-content: space-between !important;
}
.nowrap {
  white-space: nowrap;
  flex-wrap: nowrap;
}
.clr {
  border: none;
  background-color: transparent;
  height: 1.6rem;
  margin: 0;
}
a>.svg-inline--fa {
  font-size: 1.5rem;
  margin: 0.6em;
  font-weight: 0;
  vertical-align: middle;
}
.grow {
  min-width: 7rem;
  flex: 1 1;
}
button,
.btn {
  background-color: #2f80ed;
  border-radius: 10px;
  padding: 0.5em 0;
  min-width: 20px;
  color: #aaa;
  font-weight: bold;
}

main,
main div {
  width: 100%;
}

.title {
  background-color: #f2984a;
}

.title>*:first-child {
  margin-left: 10px;
}

.title-element {
  background-color: #f2b94a;
  margin: 1em 0;
  border-radius: 10px;
  line-height: 2;
}

.title-button {
  padding: 0;
  margin: 1em 0;
  min-width: 6em;
}

.title-element>* {
  margin: 0;
  margin-left: 10px;
}

.title-element>*:firsth-child {
  flex-grow: 1;
}

.title-element>*:nth-child(2) {
  margin-left: auto;
}

.form-box {
  width: 100%;
  margin: 10px 0;
}

.hide {
  display: none
}

.stacked-text {
  margin-top: 20px;
}

.summary {
  text-align: left;
}

.summary * {
  margin: 0;
  padding: 0;
}

.summary_info {
  display: flex;
  justify-content: space-evenly;
}

.stacked-text>* {
  margin: 0;
}

form>* {
  display: block;
  width: 100%;
  font-size: 20px;
  border-width: 0 0 1px 0;
  border-color: #000;
  margin-top: 20px;
}

form>button {
  border-width: 0;
}

form>label {
  font-size: 16px;
  text-align: left;
  margin: 0;
}

#meal_image {
  max-width: 320px;
}

.fluid-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #2f80ed;
  margin-left: 10px;
}

.welcome {
  min-height: calc(100vh / 3);
  background: #fafafa url(../assets/Food.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-text {
  padding: 0 50px;
  color: #f2994a;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.modal-trigger {
  cursor: pointer;
}

.modal {
  border-radius: 10px;
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 400px;
  overflow: auto;
  background-color: #f2b94a;
}

/* Modal Content/Box */

.modal-content {
  background-color: #f2b94a60;
  padding: 0;
  border: 1px solid #888;
  width: 100%;
  margin: 0;
}

button:hover,
button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 500px) {
  html,
  body {
    margin: 0 auto;
    padding: 0;
  }
  .modal-content {
    margin: 5% auto;
    padding: 0 20px;
    width: 80%;
  }
  .form-box {
    width: 80%;
    margin: 40px auto;
  }
}